@font-face {
  font-family: "Mv Eamaan XP";
  src: url("/fonts/MvEamaanXP.woff2") format("woff2"),
    url("/fonts/MvEamaanXP.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px rgb(255, 165, 165);
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px red;
  }
}
